<a href="https://colab.research.google.com/github/gabaeliz/Python_para_Data_Science_Pandas/blob/main/Python_para_Data_Science_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUCCIÓN A PYTHON
---

# 1.1 Introducción

> Python es un lenguaje de programación de alto nivel con soporte a múltiples paradigmas de programación. Es un proyecto *open source* y desde su aparición en 1991, viene convirtiéndose en uno de los lenguajes de programación interpretados más populares. 
>
> En los últimos años Python ha desarrollado una comunidad activa de procesamiento científico y análisis de datos y viene destacándose como uno de los lenguajes más relevantes cuando el asunto es ciencia de datos y machine learning, tanto en el entorno académico como también en el entorno laboral.

# 1.2 Instalación y entorno de trabajo

### Instalación Local

### https://www.python.org/downloads/
### o
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versión

In [ ]:
!python -V

Python 3.9.16

# 1.3 Trabajando con datos

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)

In [ ]:
dataset = pd.read_csv('db.csv', sep = ';')

In [ ]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

In [ ]:
dataset.dtypes

Nombre          object
Motor           object
Año              int64
Kilometraje    float64
Cero_km           bool
Accesorios      object
Valor          float64
dtype: object

In [ ]:
dataset[['Kilometraje','Valor']].describe()

         Kilometraje          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nombre       258 non-null    object
 1   Motor        258 non-null    object
 2   Año          258 non-null    int64
 3   Kilometraje  197 non-null    float64
 4   Cero_km      258 non-null    bool
 5   Accesorios   258 non-null    object
 6   Valor        258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABAJANDO CON TUPLAS
---

# 2.1 Creando tuplas

Tuplas son secuencias **inmutables** que son utilizadas para guardar colecciones de objetos, geralmente heterogéneos. Pueden ser construídas de varias formas:
```
- Utilizando un par de paréntesis: ( )
- Utilizando una coma a la derecha: x,
- Utilizando un par de paréntesis con objetos separados por comas: ( x, y, z )
- Utilizando: tuple() o tuple(iterador)
```

In [ ]:
()

()

In [ ]:
1,2,3

(1, 2, 3)

In [ ]:
nombre = 'Kwid'
valor = 240000
(nombre, valor)

('Kwid', 240000)

In [ ]:
nombre_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nombre_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
type(nombre_carros)

tuple

# 2.2 Selecciones en tuplas

In [ ]:
nombre_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nombre_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
nombre_carros[2]

'Crossfox'

In [ ]:
nombre_carros[0]

'Jetta Variant'

In [ ]:
nombre_carros[-1]

'DS5'

In [ ]:
nombre_carros[0:3]

('Jetta Variant', 'Passat', 'Crossfox')

In [ ]:
nombres_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [ ]:
nombres_carros[-1]

('Fusca', 'Gol', 'C4')

In [ ]:
nombres_carros[-1][1]

'Gol'

**<h2>Ejercicio</h2>**

In [ ]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Llantas de aleación', 'Cerraduras eléctricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimedia', 'Techo panoramico', 'Frenos ABS')
    )
)

In [ ]:
carros[0][3]

False

In [ ]:
carros[-1][-1][-1]

'Frenos ABS'

In [ ]:
carros[0][-1][:2]

('Llantas de aleación', 'Cerraduras eléctricas')

# 2.3 Iterando en tuplas

In [ ]:
nombres_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

Muestra cada unos de los elementos contenidos en la dupla

In [ ]:
for item in nombres_carros:
  print(item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacando tuplas

In [ ]:
nombres_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
auto_1, auto_2, auto_3, auto_4 = nombres_carros

In [ ]:
auto_1

'Jetta Variant'

In [ ]:
auto_2

'Passat'

In [ ]:
auto_3

'Crossfox'

In [ ]:
auto_4

'DS5'

Asi se ignoran variables:

In [ ]:
_, A, _, B = nombres_carros

In [ ]:
print('El valor de la variable A dentro de la dupla es: ', A)

El valor de la variable A dentro de la dupla es:  Passat

In [ ]:
print('El valor de la variable B dentro de la dupla es: ', B)

El valor de la variable B dentro de la dupla es:  DS5

In [ ]:
_, C, *_ = nombres_carros

In [ ]:
print('El valor de la variable C dentro de la dupla es: ', C)

El valor de la variable C dentro de la dupla es:  Passat

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

*zip()* devuelve un iterador de tuplas, donde la *i-ésima* tupla contiene el *i-ésimo* elemento de cada uno de los iterables del argumento.

Otra forma de pensar en *zip()* es que convierte filas en columnas y columnas en filas. Esto es similar a la transposición de una matriz.

*zip()* es perezosa: los elementos no se procesarán hasta que se itere sobre el iterable, por ejemplo, mediante un bucle *for* o envolviéndolo en una lista.

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [ ]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

Retorna un mensaje de confirmación

In [ ]:
zip(carros, valores)

In [ ]:
list(zip(carros,valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [ ]:
for item in zip(carros,valores):
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [ ]:
for carro, valor in zip(carros,valores):
  print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [ ]:
for carro, valor in zip(carros,valores):
  if(valor > 100000):
   print(carro)

Passat
DS5

**<h2>Ejercicio</h2>**

In [ ]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Llantas de aleación', 'Cerraduras eléctricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimedia', 'Techo panoramico', 'Frenos ABS')
    )
)

In [ ]:
for tupla in carros:
    for item in tupla[-1]:
        print(item)

Llantas de aleación
Cerraduras eléctricas
Piloto automático
Central multimedia
Techo panoramico
Frenos ABS

Dos herramientas muy utilizadas al iterar con tuplas son el desempaquetado de tuplas y la built-in function zip().

Con el desempaquetado de tuplas, es posible hacer declaraciones conjuntas de variables y usar cada variable individualmente. Por ejemplo:

Para responder a esta pregunta, considera la misma tupla de la actividad anterior:

In [ ]:
nombre, valor = ('Passat', 100000.0)

La función zip() permite generar un iterador de tuplas, como en el siguiente ejemplo:

**In [1]:**

In [ ]:
nombres = ['Passat', 'Crossfox']
valores = [100000.0, 75000.0]
list(zip(nombres, valores))

[('Passat', 100000.0), ('Crossfox', 75000.0)]

**Out[1]**

In [ ]:
[('Passat', 100000.0), ('Crossfox', 75000.0)]

[('Passat', 100000.0), ('Crossfox', 75000.0)]

Considerando las dos listas siguientes:

In [ ]:
nombres = ['Passat', 'Crossfox', 'DS5', 'C4', 'Jetta']
kms = [15000, 12000, 32000, 8000, 50000]

Y utilizando las herramientas presentadas anteriormente, selecciona la alternativa con el código que permite imprimir los nombres de los vehículos con kilometraje inferior a 20.000 km.

In [ ]:
for nombre, km in zip(nombres, kms):
    if(km < 20000):
        print(nombre)

Passat
Crossfox
C4

# <font color=green> 3. TRABAJANDO CON DICCIONARIOS
---

# 3.1 Creando diccionarios

Listas son colecciones secuenciales, es decir, los elementos de estas secuencias están ordenados y utilizan índices (números enteros) para acceder a los valores.

Los diccionarios son colecciones ligeramente diferentes. Son estructuras de datos que representan un tipo de mapeo. Los mapeos son colecciones de asociaciones entre pares de valores donde el primer elemento del par se conoce como llave (*key*) y el segundo como valor (*value*).

```
diccionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [ ]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [ ]:
carros.index('Passat')

1

In [ ]:
valores[carros.index('Passat')]

106161.94

In [ ]:
datos = {'Jetta Variant':88078.64, 'Passat':106161.94, 'Crossfox':72832.16}
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [ ]:
type(datos)

dict

### Creando diccionarios con *zip()*

In [ ]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [ ]:
datos = dict(zip(carros, valores))
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

Un diccionario no es secuencial pero si es mutable

In [ ]:
type(datos)

dict

# 3.2 Operaciones con diccionarios

## *dict[ key ]*

Devuelve el valor correspondiente a la llave (*key*) en el diccionario.

In [ ]:
datos['Passat']

106161.94

## *key in dict*

Devuelve **True** si la llave (*key*) es encontrada en el diccionario.

In [ ]:
'Passat' in datos

True

In [ ]:
'Jeep' in datos

False

In [ ]:
'Jeep' not in datos

True

## *len(dict)*

Devuelve el número de itens del diccionario.

In [ ]:
len(datos)

3

## *dict[ key ] = value*

Incluye un item al diccionario.

In [ ]:
datos['Kwid'] = 901654879
datos

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'Kwid': 901654879}

## *del dict[ key ]*

Borra el item de llave (*key*) del diccionario.

In [ ]:
del datos['Crossfox']

In [ ]:
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Kwid': 901654879}

**<h2>Ejercicio</h2>**

Observa que, datos tiene dos elementos, donde la llave (key) es el nombre del vehículo y el valor (value) es un diccionario con las informaciones sobre este vehículo (año, kilometraje, valor y accesorios). Nuestra tarea en esta actividad es aprender a acceder a las informaciones de un diccionario dentro de otro diccionario.

Queremos lo siguiente: 1) Testar si la llave accesorios existe en el diccionario de las informaciones del vehículo Crossfox (Respuesta esperada: False) 2) Testar si la llave accesorios existe en el diccionario de las informaciones del vehículo Passat (Respuesta esperada: True) 3) Obtener el valor del vehículo Crossfox (Respuesta esperada: 25000) 4) Acceder el último accesorio del vehículo Passat (Respuesta esperada: 'ABS')

Selecciona la alternativa que muestra los códigos correctos para devolver y acceder a la información anterior

In [ ]:
datosEjercicio = {
    'Passat': {
        'año': 2012,
        'km': 50000,
        'valor': 75000,
        'accesorios': ['Airbag', 'ABS']
    }, 
    'Crossfox': {
        'año': 2015,
        'km': 35000,
        'valor': 25000
    }
}

In [ ]:
'accesorios' in datosEjercicio['Crossfox']

False

In [ ]:
'accesorios' in datosEjercicio['Passat']

True

In [ ]:
datosEjercicio['Crossfox']['valor']

25000

In [ ]:
 datosEjercicio['Passat']['accesorios'][-1]

'ABS'

# 3.3 Métodos de diccionarios

## *dict.update()*

Actualiza el diccionario.

In [ ]:
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Kwid': 901654879}

In [ ]:
datos.update({'Jeep':546789.33})
datos

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Kwid': 901654879,
 'Jeep': 546789.33}

In [ ]:
datos.update({'Passat':  106200.94, 'March': 246804.65})
datos

{'Jetta Variant': 88078.64,
 'Passat': 106200.94,
 'Kwid': 901654879,
 'Jeep': 546789.33,
 'March': 246804.65}

## *dict.copy()*

Crea una copia del diccionario.

In [ ]:
datosCopia = datos.copy()

In [ ]:
datosCopia

{'Jetta Variant': 88078.64,
 'Passat': 106200.94,
 'Kwid': 901654879,
 'Jeep': 546789.33,
 'March': 246804.65}

In [ ]:
del datosCopia['March']
datosCopia

{'Jetta Variant': 88078.64,
 'Passat': 106200.94,
 'Kwid': 901654879,
 'Jeep': 546789.33}

## *dict.pop(key[, default ])*

Si la llave se encuentra en el diccionario, el elemento se elimina y se devuelve su valor. De lo contrario, se devuelve el valor especificado como *default*. Si no se proporciona el valor *default* y la llave no se encuentra en el diccionario, se generará un error.

In [ ]:
datosCopia.pop('Jeep')

546789.33

In [ ]:
datosCopia

{'Jetta Variant': 88078.64, 'Passat': 106200.94, 'Kwid': 901654879}

In [ ]:
datosCopia.pop('Jeep', 'Lo sentimos, la llave no fue encontrada')

'Lo sentimos, la llave no fue encontrada'

In [ ]:
datosCopia.pop('Kwid', 'Lo sentimos, la llave no fue encontrada')

901654879

In [ ]:
datosCopia

{'Jetta Variant': 88078.64, 'Passat': 106200.94}

## *dict.clear()*

Borra todos los itens del diccionario.

In [ ]:
datosCopia.clear()

In [ ]:
datosCopia

{}

# 3.4 Iterando en diccionarios

## *dict.keys()*

Devuelve una lista con las llaves (*keys*) del diccionario.

In [ ]:
datos.keys()

dict_keys(['Jetta Variant', 'Passat', 'Kwid', 'Jeep', 'March'])

In [ ]:
for key in datos.keys():
  print(key)

Jetta Variant
Passat
Kwid
Jeep
March

## *dict.values()*

Devuelve una lista con todos los valores (*values*) del diccionario.

In [ ]:
datos.values()

dict_values([88078.64, 106200.94, 901654879, 546789.33, 246804.65])

## *dict.items()*

Devuelve una lista con una tupla para cada par llave-valor (*key-value*) del diccionario.

In [ ]:
datos.items()

dict_items([('Jetta Variant', 88078.64), ('Passat', 106200.94), ('Kwid', 901654879), ('Jeep', 546789.33), ('March', 246804.65)])

In [ ]:
for item in datos.items():
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106200.94)
('Kwid', 901654879)
('Jeep', 546789.33)
('March', 246804.65)

In [ ]:
for key, value in datos.items():
  print(key, '->', value)

Jetta Variant -> 88078.64
Passat -> 106200.94
Kwid -> 901654879
Jeep -> 546789.33
March -> 246804.65

In [ ]:
for key, value in datos.items():
  if(value)>1000000:
    print(key, value)

Kwid 901654879



---

**<h2>Ejercicio</h2>**

Selecciona la alternativa que muestre el código que imprima sólo los nombres de los vehículos que tengan el año de fabricación mayor o igual a 2000.

In [ ]:
datos = {
    'Crossfox': {'valor': 72000, 'año': 2005}, 
    'DS5': {'valor': 125000, 'año': 2015}, 
    'Fusca': {'valor': 150000, 'año': 1976}, 
    'Jetta': {'valor': 88000, 'año': 2010}, 
    'Passat': {'valor': 106000, 'año': 1998}
}

In [ ]:
datos

{'Crossfox': {'valor': 72000, 'año': 2005},
 'DS5': {'valor': 125000, 'año': 2015},
 'Fusca': {'valor': 150000, 'año': 1976},
 'Jetta': {'valor': 88000, 'año': 2010},
 'Passat': {'valor': 106000, 'año': 1998}}

In [ ]:
for item in datos.items():
    if(item[1]['año'] >= 2000):
        print(item[0])

Crossfox
DS5
Jetta



---

# <font color=green> 4. FUNCIONES Y PAQUETES
---

Funciones son unidades de código reutilizables que realizan una tarea específica, pueden recibir alguna entrada y también pueden devolver algún resultado.

# 4.1 Built-in function

El lenguaje Python tiene varias funciones integradas que siempre están accesibles. Algunas ya las usamos en nuestro entrenamiento:
type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.11/library/functions.html

In [ ]:
datos = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [ ]:
valores = []
for valor in datos.values():
  valores.append(valor)
valores

[88078.64, 106161.94, 72832.16]

In [ ]:
suma = 0
for valor in datos.values():
  suma += valor
suma

267072.74

In [ ]:
list(datos.values())

[88078.64, 106161.94, 72832.16]

In [ ]:
sum(datos.values())

267072.74

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print?

# 4.2 Definiendo funciones sin y con parámetros

### Funciones sin parámetros

#### Formato estándar

```
def <nombre>():
    <instrucciones>
```

In [ ]:
def media():
  valor = (78 + 45 + 89 + 100)/4
  print(valor)

In [ ]:
media()

78.0

### Funciones con parámetros

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
```

In [ ]:
def media(number_1, number_2, number_3):
  valor = (number_1 + number_2 + number_3)/3
  print(valor)

In [ ]:
media(45,88,100)

77.66666666666667

In [ ]:
def media(lista):
  valor = sum(lista)/len(lista)
  print(valor)

In [ ]:
resultado = media([47, 585, 4789, 23, 1, 78, 41, 220])

723.0

In [ ]:
resultado

In [ ]:
type(resultado)

NoneType



---
**<h2>Kilometraje promedio de un vehiculo</h2>**

Una tarea importante en el trabajo de un científico de datos es el tratamiento del dataset que vamos a utilizar. Esta tarea se divide en varias etapas y una de ellas es la sumarización de los datos, donde obtenemos estadísticas descriptivas para ayudar en la toma de decisiones.

Algunas sumarizaciones necesitan un conjunto de elaboraciones, que deben ser desarrolladas por el propio investigador. En este punto, las funciones son bastante útiles en el trabajo del científico de datos, con ellas, podemos definir un conjunto de tareas específicas, que reciben entradas y devuelven resultados, y reutilizan esta codificación en otras partes de nuestro proyecto.

Un ejemplo de esto en nuestro proyecto es el cálculo del kilometraje promedio que recorre un vehículo por año. No hay una función lista para calcular esta estadística en Python, por lo que necesitamos escribir una función que obtenga este valor.

Considera el conjunto de informaciones a continuación para responder el problema:

**<center>KMmedia = KMtotal / (AÑOactual - AÑOfabricación)**

In [ ]:
datos = {
    'Crossfox': {'km': 35000, 'año': 2005}, 
    'DS5': {'km': 17000, 'año': 2015}, 
    'Fusca': {'km': 130000, 'año': 1979}, 
    'Jetta': {'km': 56000, 'año': 2011}, 
    'Passat': {'km': 62000, 'año': 1999}
}

La siguiente estructura es la definición de una función que obtiene e imprime el kilometraje promedio anual de cada vehículo en un diccionario con la estructura del diccionario datos:

def km_media(dataset, año_actual):<br>
    for item in _______________:<br>
        result = _____________ / (año_actual - ____________)<br>
        print(result)<br>
        km_media(datos, 2019)

Out:<br>
2500.0<br>
4250.0<br>
3250.0<br>
7000.0<br>
3100.0<br>

Selecciona la alternativa que complete correctamente los vacíos de nuestra función.

In [ ]:
def km_media(dataset, año_actual):
    for item in dataset.items():
        result = item[1]['km'] / (año_actual - item[1]['año'])
        print(result)



---

# 4.3 Definiendo funciones que devuelven valores

### Funciones que devuelven un valor

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
    return <resultado>
```

In [ ]:
def media(lista):
  valor = sum(lista)/len(lista)
  return(valor)

In [ ]:
media([12,45,89,100,75,2])

53.833333333333336

In [ ]:
resultado = media([12,45,89,100,75,2])

In [ ]:
resultado

53.833333333333336

### Funciones que devuelven más de un valor

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

In [ ]:
def media(lista):
  valor = sum(lista)/len(lista)
  return(valor,len(lista))

In [ ]:
media([56,78,92,7,45])

(55.6, 5)

In [ ]:
resultadao, n = media([56,78,92,7,45,100,5,89,564])

In [ ]:
resultado

53.833333333333336

In [ ]:
n

9



---
**<h2>Ejercicio</h2>**

La siguiente estructura es la definición de una función que calcula el kilometraje promedio anual de cada vehículo y devuelve un diccionario con los nombres de los vehículos como llaves y el kilometraje promedio como valores:

In [ ]:
datos = {
    'Crossfox': {'km': 35000, 'año': 2005}, 
    'DS5': {'km': 17000, 'año': 2015}, 
    'Fusca': {'km': 130000, 'año': 1979}, 
    'Jetta': {'km': 56000, 'año': 2011}, 
    'Passat': {'km': 62000, 'año': 1999}
}

def km_media(dataset, año_actual):<br>
    result = {}<br>
    for item in dataset.items():<br>
        media = item[1]['km'] / (año_actual - item[1]['año'])<br>
    _________________________________        
    _________________________________

km_media(datos, 2019)<br>
{'Crossfox': 2500.0,<br>
 'DS5': 4250.0,<br>
 'Fusca': 3250.0,<br>
 'Jetta': 7000.0,<br>
 'Passat': 3100.0}<br>
 <br>

 Selecciona la alternativa que complete correctamente los vacíos de nuestra función.

In [ ]:
def km_media(dataset, año_actual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (año_actual - item[1]['año'])
        result.update({ item[0]: media })
    return result

In [ ]:
def km_media(dataset, año_actual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (año_actual - item[1]['año'])
        item[1].update({ 'km_media': media })
        result.update({ item[0]: item[1] })
    return result

# <font color=green> 5. PANDAS BÁSICO
---

**versión: 1.1.0**

Pandas es una herramienta de manipulación de datos de alto nivel, construida sobre la base del paquete Numpy. El paquete pandas tiene estructuras de datos muy interesantes para la manipulación de datos y, por esto, es ampliamente utilizado por los científicos de datos.


## Estructuras de Datos

### Series

Series son arrays unidimensionales etiquetados capaces de almacenar cualquier tipo de dato. Las etiquetas de las líneas se denominan **index**. La forma básica de crear una Series es la siguiente:


```
    s = pd.Series(datos, index = index)
```

El argumento *datos* puede ser un diccionario, una lista, un array Numpy o una constante.

### DataFrames

DataFrame es una estructura de datos tabular bidimensional con etiquetas de fila y columna. Como la Series, los DataFrames son capaces de almacenar cualquier tipo de datos.


```
    df = pd.DataFrame(datos, index = index, columns = columns)
```

El argumento *datos* puede ser un diccionario, una lista, un array Numpy, una Series y otro DataFrame.

**Documentación:** https://pandas.pydata.org/pandas-docs/version/1.1.0/

# 5.1 Estructuras de datos

In [ ]:
import pandas as pd

### Creando una Series a partir de una lista

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Cross-fox']

In [ ]:
pd.Series(carros)

0    Jetta Variant
1           Passat
2        Cross-fox
dtype: object

### Creando un DataFrame a partir de una lista de diccionarios

In [ ]:
datos = [
    {'Nombre': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Año': 2003, 'Kilometraje': 44410.0, 'Cero_km': False, 'Valor': 88078.64},
    {'Nombre': 'Passat', 'Motor': 'Motor Diesel', 'Año': 1991, 'Kilometraje': 5712.0, 'Cero_km': False, 'Valor': 106161.94},
    {'Nombre': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Año': 1990, 'Kilometraje': 37123.0, 'Cero_km': False, 'Valor': 72832.16}
]

In [ ]:
dataset = pd.DataFrame(datos)

In [ ]:
dataset

          Nombre            Motor   Año  Kilometraje  Cero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003      44410.0    False   88078.64
1         Passat     Motor Diesel  1991       5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990      37123.0    False   72832.16

In [ ]:
dataset[['Nombre', 'Año', 'Valor','Kilometraje','Cero_km','Motor']]

          Nombre   Año      Valor  Kilometraje  Cero_km            Motor
0  Jetta Variant  2003   88078.64      44410.0    False  Motor 4.0 Turbo
1         Passat  1991  106161.94       5712.0    False     Motor Diesel
2       Crossfox  1990   72832.16      37123.0    False  Motor Diesel V8

### Creando un DataFrame a partir de un diccionario

In [ ]:
datos = {
    'Nombre': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Año': [2003, 1991, 1990],
    'Kilometraje': [44410.0, 5712.0, 37123.0],
    'Cero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [ ]:
dataset = pd.DataFrame(datos)

In [ ]:
dataset

          Nombre            Motor   Año  Kilometraje  Cero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003      44410.0    False   88078.64
1         Passat     Motor Diesel  1991       5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990      37123.0    False   72832.16

### Creando un DataFrame a partir de un archivo externo

In [ ]:
dataset = pd.read_csv('db.csv', sep=';',index_col= 0)

In [ ]:
dataset

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

# 5.2 Selecciones con DataFrames

### Seleccionando columnas

In [ ]:
dataset.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [ ]:
dataset['Valor']

Nombre
Jetta Variant             88078.64
Passat                   106161.94
Crossfox                  72832.16
DS5                      124549.07
Aston Martin DB4          92612.10
                           ...
Phantom 2013              51759.58
Cadillac Ciel concept     51667.06
Classe GLK                68934.03
Aston Martin DB5         122110.90
Macan                     90381.47
Name: Valor, Length: 258, dtype: float64

In [ ]:
type(dataset['Valor'])

pandas.core.series.Series

In [ ]:
dataset[['Valor']]

                           Valor
Nombre
Jetta Variant           88078.64
Passat                 106161.94
Crossfox                72832.16
DS5                    124549.07
Aston Martin DB4        92612.10
...                          ...
Phantom 2013            51759.58
Cadillac Ciel concept   51667.06
Classe GLK              68934.03
Aston Martin DB5       122110.90
Macan                   90381.47

[258 rows x 1 columns]

In [ ]:
type(dataset[['Valor']])

pandas.core.frame.DataFrame

### Seleccionando lineas - [ i : j ] 

<font color=red>**Observación:**</font> La indexación tiene origen en cero y en las particiones(*slices*) la línea con índice i es **incluída** y la línea con índice j **no es incluída** en el resultado.

In [ ]:
dataset[0:5]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

### Utilizando .loc para selecciones

<font color=red>**Observación:**</font> Selecciona un grupo de líneas y columnas según las etiquetas o una matriz booleana.

In [ ]:
dataset.loc['Passat']

Motor                                               Motor Diesel
Año                                                         1991
Kilometraje                                               5712.0
Cero_km                                                    False
Accesorios     ['Central multimedia', 'Techo panorámico', 'Fr...
Valor                                                  106161.94
Name: Passat, dtype: object

In [ ]:
dataset.loc[['Passat']]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94

In [ ]:
dataset.loc[['Passat','DS5'],['Motor','Valor']]

                  Motor      Valor
Nombre
Passat     Motor Diesel  106161.94
DS5     Motor 2.4 Turbo  124549.07

In [ ]:
dataset.loc[:,['Motor','Valor']]

                                       Motor      Valor
Nombre
Jetta Variant                Motor 4.0 Turbo   88078.64
Passat                          Motor Diesel  106161.94
Crossfox                     Motor Diesel V8   72832.16
DS5                          Motor 2.4 Turbo  124549.07
Aston Martin DB4             Motor 2.4 Turbo   92612.10
...                                      ...        ...
Phantom 2013                        Motor V8   51759.58
Cadillac Ciel concept               Motor V8   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03
Aston Martin DB5                Motor Diesel  122110.90
Macan                        Motor Diesel V6   90381.47

[258 rows x 2 columns]

### Utilizando .iloc para selecciones

<font color=red>**Observación:**</font> Selecciona con base en los índices, es decir, utiliza la posición de las informaciones.

In [ ]:
dataset.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [ ]:
dataset.iloc[[1]]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94

In [ ]:
dataset.iloc[1:4]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07

In [ ]:
dataset.iloc[1:4, [0,5,2]]

                    Motor      Valor  Kilometraje
Nombre
Passat       Motor Diesel  106161.94       5712.0
Crossfox  Motor Diesel V8   72832.16      37123.0
DS5       Motor 2.4 Turbo  124549.07          NaN

In [ ]:
dataset.iloc[[1,42,22], [0,5,2]]

                               Motor      Valor  Kilometraje
Nombre
Passat                  Motor Diesel  106161.94       5712.0
Optima                 Motor 1.8 16v   86641.34          NaN
Lamborghini Obvious  Motor Diesel V6  133529.84      98079.0

In [ ]:
dataset.iloc[:, [0,5,2]]

                                       Motor      Valor  Kilometraje
Nombre
Jetta Variant                Motor 4.0 Turbo   88078.64      44410.0
Passat                          Motor Diesel  106161.94       5712.0
Crossfox                     Motor Diesel V8   72832.16      37123.0
DS5                          Motor 2.4 Turbo  124549.07          NaN
Aston Martin DB4             Motor 2.4 Turbo   92612.10      25757.0
...                                      ...        ...          ...
Phantom 2013                        Motor V8   51759.58      27505.0
Cadillac Ciel concept               Motor V8   51667.06      29981.0
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03      52637.0
Aston Martin DB5                Motor Diesel  122110.90       7685.0
Macan                        Motor Diesel V6   90381.47      50188.0

[258 rows x 3 columns]



---
**<h2>Ejercicio</h2>**
Considera el siguiente codigo

In [ ]:
import pandas as pd

datos = {
   'Nombre': ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'], 
   'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Año': [2019, 2003, 1991, 2019, 1990],
    'Kilometraje': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Cero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(datos)

In [ ]:
dataset

     Nombre            Motor   Año  Kilometraje  Cero_km     Valor
0     Jetta  Motor 4.0 Turbo  2019          0.0     True   88000.0
1    Passat     Motor Diesel  2003       5712.0    False  106000.0
2  Crossfox  Motor Diesel V8  1991      37123.0    False   72000.0
3       DS5        Motor 2.0  2019          0.0     True   89000.0
4     Fusca        Motor 1.6  1990     120000.0    False   32000.0

Elige la alternativa que contenga el código que selecciona solamente las informaciones de Nombre, Año, Kilometraje y Valor de los vehículos Passat y Crossfox.

In [ ]:
dataset[['Nombre', 'Año', 'Kilometraje', 'Valor']][1:3]

     Nombre   Año  Kilometraje     Valor
1    Passat  2003       5712.0  106000.0
2  Crossfox  1991      37123.0   72000.0

In [ ]:
datos = {
   'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
   'Año': [2019, 2003, 1991, 2019, 1990],
   'Kilometraje': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
   'Cero_km': [True, False, False, True, False],
   'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(datos, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

In [ ]:
dataset

                    Motor   Año  Kilometraje  Cero_km     Valor
Jetta     Motor 4.0 Turbo  2019          0.0     True   88000.0
Passat       Motor Diesel  2003       5712.0    False  106000.0
Crossfox  Motor Diesel V8  1991      37123.0    False   72000.0
DS5             Motor 2.0  2019          0.0     True   89000.0
Fusca           Motor 1.6  1990     120000.0    False   32000.0

In [ ]:
dataset.iloc[[1, 3], [0, -1]]

               Motor     Valor
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

In [ ]:
dataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']]

               Motor     Valor
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

# 5.3 Consultas en DataFrames

In [ ]:
dataset = pd.read_csv('db.csv', sep=';',index_col= 0)

In [ ]:
dataset.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [ ]:
dataset.Motor

Nombre
Jetta Variant                  Motor 4.0 Turbo
Passat                            Motor Diesel
Crossfox                       Motor Diesel V8
DS5                            Motor 2.4 Turbo
Aston Martin DB4               Motor 2.4 Turbo
                                 ...
Phantom 2013                          Motor V8
Cadillac Ciel concept                 Motor V8
Classe GLK               Motor 5.0 V8 Bi-Turbo
Aston Martin DB5                  Motor Diesel
Macan                          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [ ]:
dataset.Motor == 'Motor Diesel'

Nombre
Jetta Variant            False
Passat                    True
Crossfox                 False
DS5                      False
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5          True
Macan                    False
Name: Motor, Length: 258, dtype: bool

In [ ]:
type(dataset.Motor == 'Motor Diesel')

pandas.core.series.Series

In [ ]:
dataset[dataset.Motor == 'Motor Diesel']

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Effa Hafei Picape Baú,Motor Diesel,1991,102959.0,False,"['Control de estabilidad', 'Panel digital', 'V...",125684.65
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de lluvia', 'Cámara de estacionamient...",81399.35
New Fiesta Hatch,Motor Diesel,2017,118895.0,False,"['Sensor de estacionamiento', 'Cerraduras elec...",66007.16
Kangoo Express,Motor Diesel,2007,29132.0,False,"['Asientos de cuero', 'Transmisión automática'...",146716.91
Fit,Motor Diesel,2013,44329.0,False,"['Frenos ABS', 'Cámara de estacionamiento', 'T...",77836.23
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Panel digital', 'Central multimedia', 'Cámar...",145197.70
Symbol,Motor Diesel,2016,117714.0,False,"['4 X 4', 'Piloto automático', 'Sensor crepusc...",133030.60
A4 Sedan,Motor Diesel,2002,30511.0,False,"['Cámara de estacionamiento', '4 X 4', 'Cerrad...",96369.04
A4 Avant,Motor Diesel,2014,17357.0,False,"['Techo panorámico', '4 X 4', 'Asientos de cue...",138946.88
Silver Shadow,Motor Diesel,2015,99052.0,False,"['4 X 4', 'Central multimedia', 'Aire condicio...",143568.22
Camry,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Llantas de aleación...",138597.27
Clio,Motor Diesel,1990,66437.0,False,"['4 X 4', 'Transmisión automática', 'Frenos AB...",111130.33
Série 3 M3 Coupé,Motor Diesel,2013,19896.0,False,"['Asientos de cuero', 'Sensor de lluvia', 'Air...",69219.89
Gallardo LP 560 – 4,Motor Diesel,2000,113045.0,False,"['Frenos ABS', 'Techo panorámico', 'Central mu...",144118.91
Chana Utility,Motor Diesel,2009,52034.0,False,"['Aire condicionado', 'Sensor de estacionamien...",132662.32
TT Roadster,Motor Diesel,1998,107392.0,False,"['Aire condicionado', 'Sensor de estacionamien...",85311.40
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Control de tracción...",97290.18
Sandero,Motor Diesel,2015,34783.0,False,"['Piloto automático', 'Techo panorámico', 'Tra...",112350.61
XKR,Motor Diesel,1996,85127.0,False,"['Control de tracción', 'Aire condicionado', '...",54263.16
X5,Motor Diesel,2002,13606.0,False,"['Control de tracción', 'Piloto automático', '...",62041.32
Dodge Dakota,Motor Diesel,1993,71544.0,False,"['Control de tracción', 'Sensor de estacionami...",141083.35
i30 CW,Motor Diesel,2015,8497.0,False,"['Sensor de lluvia', 'Ventanas eléctricas', 'C...",73311.75
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Ventanas eléctricas', 'Cerraduras electricas...",67539.79
V60,Motor Diesel,2004,91840.0,False,"['Llantas de aleación', 'Sensor crepuscular', ...",114728.74
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90

In [ ]:
dataset[(dataset.Motor == 'Motor Diesel')&(dataset.Cero_km == True)]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de lluvia', 'Cámara de estacionamient...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Panel digital', 'Central multimedia', 'Cámar...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Llantas de aleación...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Control de tracción...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Ventanas eléctricas', 'Cerraduras electricas...",67539.79

### Utilizando el método query

In [ ]:
dataset.query('Motor == "Motor Diesel" and Cero_km == True')

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de lluvia', 'Cámara de estacionamient...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Panel digital', 'Central multimedia', 'Cámar...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Llantas de aleación...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Control de tracción...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Ventanas eléctricas', 'Cerraduras electricas...",67539.79



---
**<h2>Ejercicio</h2>**
Utiliza el siguiente DataFrame para resolver el problema:

In [ ]:
datos = {
  'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor Diesel', 'Motor 1.6'],
    'Año': [2019, 2003, 1991, 2019, 1990],
    'Kilometraje': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Cero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(datos, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

In [ ]:
dataset

                    Motor   Año  Kilometraje  Cero_km     Valor
Jetta     Motor 4.0 Turbo  2019          0.0     True   88000.0
Passat       Motor Diesel  2003       5712.0    False  106000.0
Crossfox  Motor Diesel V8  1991      37123.0    False   72000.0
DS5          Motor Diesel  2019          0.0     True   89000.0
Fusca           Motor 1.6  1990     120000.0    False   32000.0

De las alternativas, selecciona las que tienen el código que devuelve el DataFrame anterior.

In [ ]:
dataset.query('Motor == "Motor Diesel" | Cero_km == True')

                  Motor   Año  Kilometraje  Cero_km     Valor
Jetta   Motor 4.0 Turbo  2019          0.0     True   88000.0
Passat     Motor Diesel  2003       5712.0    False  106000.0
DS5        Motor Diesel  2019          0.0     True   89000.0

In [ ]:
dataset.query('Motor == "Motor Diesel" or Cero_km == True')

                  Motor   Año  Kilometraje  Cero_km     Valor
Jetta   Motor 4.0 Turbo  2019          0.0     True   88000.0
Passat     Motor Diesel  2003       5712.0    False  106000.0
DS5        Motor Diesel  2019          0.0     True   89000.0

In [ ]:
dataset[(dataset.Motor == 'Motor Diesel') | (dataset.Cero_km == True)]

                  Motor   Año  Kilometraje  Cero_km     Valor
Jetta   Motor 4.0 Turbo  2019          0.0     True   88000.0
Passat     Motor Diesel  2003       5712.0    False  106000.0
DS5        Motor Diesel  2019          0.0     True   89000.0

# 5.4 Iterando con DataFrames

In [3]:
import pandas as pd
dataset = pd.read_csv('db.csv', sep=';',index_col= 0)

In [4]:
for item in dataset:
  print(item)

Motor
Año
Kilometraje
Cero_km
Accesorios
Valor

In [6]:
list(dataset.iterrows())

[('Jetta Variant',
  Motor                                            Motor 4.0 Turbo
  Año                                                         2003
  Kilometraje                                              44410.0
  Cero_km                                                    False
  Accesorios     ['Llantas de aleación', 'Cerraduras electricas...
  Valor                                                   88078.64
  Name: Jetta Variant, dtype: object),
 ('Passat',
  Motor                                               Motor Diesel
  Año                                                         1991
  Kilometraje                                               5712.0
  Cero_km                                                    False
  Accesorios     ['Central multimedia', 'Techo panorámico', 'Fr...
  Valor                                                  106161.94
  Name: Passat, dtype: object),
 ('Crossfox',
  Motor                                            Motor Diesel V8
  Año                                                         1990
  Kilometraje                                              37123.0
  Cero_km                                                    False
  Accesorios     ['Piloto automático', 'Control de estabilidad'...
  Valor                                                   72832.16
  Name: Crossfox, dtype: object),
 ('DS5',
  Motor                                            Motor 2.4 Turbo
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Cerraduras electricas', '4 X 4', 'Ventanas e...
  Valor                                                  124549.07
  Name: DS5, dtype: object),
 ('Aston Martin DB4',
  Motor                                            Motor 2.4 Turbo
  Año                                                         2006
  Kilometraje                                              25757.0
  Cero_km                                                    False
  Accesorios     ['Llantas de aleación', '4 X 4', 'Central mult...
  Valor                                                    92612.1
  Name: Aston Martin DB4, dtype: object),
 ('Palio Weekend',
  Motor                                              Motor 1.8 16v
  Año                                                         2012
  Kilometraje                                              10728.0
  Cero_km                                                    False
  Accesorios     ['Sensor de estacionamiento', 'Techo panorámic...
  Valor                                                   97497.73
  Name: Palio Weekend, dtype: object),
 ('A5',
  Motor                                            Motor 4.0 Turbo
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Transmisión automática', 'Cámara de estacion...
  Valor                                                    56445.2
  Name: A5, dtype: object),
 ('Série 3 Cabrio',
  Motor                                               Motor 1.0 8v
  Año                                                         2009
  Kilometraje                                              77599.0
  Cero_km                                                    False
  Accesorios     ['Control de estabilidad', 'Sensor crepuscular...
  Valor                                                  112310.44
  Name: Série 3 Cabrio, dtype: object),
 ('Dodge Jorney',
  Motor                                              Motor 3.0 32v
  Año                                                         2010
  Kilometraje                                              99197.0
  Cero_km                                                    False
  Accesorios     ['Ventanas eléctricas', 'Piloto automático', '...
  Valor                                                  120716.27
  Name: Dodge Jorney, dtype: object),
 ('Carens',
  Motor                                      Motor 5.0 V8 Bi-Turbo
  Año                                                         2011
  Kilometraje                                              37978.0
  Cero_km                                                    False
  Accesorios     ['Aire condicionado', 'Panel digital', 'Centra...
  Valor                                                   76566.49
  Name: Carens, dtype: object),
 ('Ford Edge',
  Motor                                            Motor Diesel V6
  Año                                                         2002
  Kilometraje                                              12859.0
  Cero_km                                                    False
  Accesorios     ['Sensor crepuscular', 'Llantas de aleación', ...
  Valor                                                   71647.59
  Name: Ford Edge, dtype: object),
 ('Courier',
  Motor                                            Motor Diesel V8
  Año                                                         2007
  Kilometraje                                               8052.0
  Cero_km                                                    False
  Accesorios     ['Central multimedia', '4 X 4', 'Piloto automá...
  Valor                                                   73919.53
  Name: Courier, dtype: object),
 ('S-18',
  Motor                                                   Motor V6
  Año                                                         2001
  Kilometraje                                              89773.0
  Cero_km                                                    False
  Accesorios     ['Asientos de cuero', 'Sensor de lluvia', 'Lla...
  Valor                                                  112732.99
  Name: S-18, dtype: object),
 ('J5',
  Motor                                                   Motor V6
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Sensor crepuscular', 'Panel digital', 'Llant...
  Valor                                                   53183.38
  Name: J5, dtype: object),
 ('F-Type Coupé',
  Motor                                      Motor 5.0 V8 Bi-Turbo
  Año                                                         2009
  Kilometraje                                              41457.0
  Cero_km                                                    False
  Accesorios     ['Piloto automático', 'Sensor crepuscular', 'S...
  Valor                                                  127488.42
  Name: F-Type Coupé, dtype: object),
 ('RAM',
  Motor                                            Motor Diesel V8
  Año                                                         2016
  Kilometraje                                             115607.0
  Cero_km                                                    False
  Accesorios     ['Sensor crepuscular', 'Transmisión automática...
  Valor                                                    59910.4
  Name: RAM, dtype: object),
 ('Série 1',
  Motor                                              Motor 3.0 32v
  Año                                                         2012
  Kilometraje                                              46449.0
  Cero_km                                                    False
  Accesorios     ['Techo panorámico', 'Cámara de estacionamient...
  Valor                                                   61118.59
  Name: Série 1, dtype: object),
 ('A3',
  Motor                                               Motor 1.0 8v
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['4 X 4', 'Piloto automático', 'Central multim...
  Valor                                                   88552.39
  Name: A3, dtype: object),
 ('XC90',
  Motor                                               Motor 1.0 8v
  Año                                                         2016
  Kilometraje                                              37086.0
  Cero_km                                                    False
  Accesorios     ['Cerraduras electricas', 'Ventanas eléctricas...
  Valor                                                   62696.69
  Name: XC90, dtype: object),
 ('RS 3 Sportback',
  Motor                                              Motor 3.0 32v
  Año                                                         2017
  Kilometraje                                              15173.0
  Cero_km                                                    False
  Accesorios     ['4 X 4', 'Piloto automático', 'Central multim...
  Valor                                                   101726.3
  Name: RS 3 Sportback, dtype: object),
 ('Pajero Sport',
  Motor                                               Motor 1.0 8v
  Año                                                         2002
  Kilometraje                                             101193.0
  Cero_km                                                    False
  Accesorios     ['Sensor de estacionamiento', 'Piloto automáti...
  Valor                                                  106147.38
  Name: Pajero Sport, dtype: object),
 ('Série 1 M',
  Motor                                                   Motor V8
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Control de estabilidad', 'Central multimedia...
  Valor                                                    94564.4
  Name: Série 1 M, dtype: object),
 ('Lamborghini Obvious',
  Motor                                            Motor Diesel V6
  Año                                                         1994
  Kilometraje                                              98079.0
  Cero_km                                                    False
  Accesorios     ['Llantas de aleación', 'Transmisión automátic...
  Valor                                                  133529.84
  Name: Lamborghini Obvious, dtype: object),
 ('Effa Hafei Picape Baú',
  Motor                                               Motor Diesel
  Año                                                         1991
  Kilometraje                                             102959.0
  Cero_km                                                    False
  Accesorios     ['Control de estabilidad', 'Panel digital', 'V...
  Valor                                                  125684.65
  Name: Effa Hafei Picape Baú, dtype: object),
 ('Lamborghini Murciélago',
  Motor                                      Motor 5.0 V8 Bi-Turbo
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Frenos ABS', 'Transmisión automática', 'Aire...
  Valor                                                  121596.21
  Name: Lamborghini Murciélago, dtype: object),
 ('Up!',
  Motor                                            Motor Diesel V6
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Sensor de estacionamiento', 'Ventanas eléctr...
  Valor                                                    71367.1
  Name: Up!, dtype: object),
 ('Fiesta Rocam Sedan',
  Motor                                            Motor 4.0 Turbo
  Año                                                         2016
  Kilometraje                                               5795.0
  Cero_km                                                    False
  Accesorios     ['Aire condicionado', 'Asientos de cuero', 'Tr...
  Valor                                                   95347.75
  Name: Fiesta Rocam Sedan, dtype: object),
 ('Sandero Stepway',
  Motor                                              Motor 3.0 32v
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Frenos ABS', 'Aire condicionado', 'Techo pan...
  Valor                                                  105432.84
  Name: Sandero Stepway, dtype: object),
 ('Cayman S',
  Motor                                              Motor 3.0 32v
  Año                                                         2002
  Kilometraje                                              58848.0
  Cero_km                                                    False
  Accesorios     ['Transmisión automática', 'Sensor de estacion...
  Valor                                                   57045.27
  Name: Cayman S, dtype: object),
 ('V40',
  Motor                                            Motor 4.0 Turbo
  Año                                                         1991
  Kilometraje                                              94381.0
  Cero_km                                                    False
  Accesorios     ['Cámara de estacionamiento', 'Sensor de estac...
  Valor                                                   120432.7
  Name: V40, dtype: object),
 ('Classe SLS AMG',
  Motor                                               Motor 1.0 8v
  Año                                                         1997
  Kilometraje                                              30163.0
  Cero_km                                                    False
  Accesorios     ['Sensor de estacionamiento', 'Control de esta...
  Valor                                                    70707.2
  Name: Classe SLS AMG, dtype: object),
 ('Gol G4',
  Motor                                              Motor 2.0 16v
  Año                                                         1995
  Kilometraje                                              53332.0
  Cero_km                                                    False
  Accesorios     ['Sensor crepuscular', '4 X 4', 'Ventanas eléc...
  Valor                                                   69105.18
  Name: Gol G4, dtype: object),
 ('Linea',
  Motor                                               Motor 1.0 8v
  Año                                                         2018
  Kilometraje                                              17720.0
  Cero_km                                                    False
  Accesorios     ['Piloto automático', 'Panel digital', 'Ventan...
  Valor                                                   59358.69
  Name: Linea, dtype: object),
 ('Ford F100',
  Motor                                              Motor 2.0 16v
  Año                                                         1991
  Kilometraje                                              33808.0
  Cero_km                                                    False
  Accesorios     ['Control de tracción', 'Sensor crepuscular', ...
  Valor                                                    65955.4
  Name: Ford F100, dtype: object),
 ('J2',
  Motor                                                   Motor V8
  Año                                                         2014
  Kilometraje                                              90684.0
  Cero_km                                                    False
  Accesorios     ['Techo panorámico', 'Sensor de estacionamient...
  Valor                                                   60017.03
  Name: J2, dtype: object),
 ('Aston Martin DBS',
  Motor                                                   Motor V8
  Año                                                         1995
  Kilometraje                                              43975.0
  Cero_km                                                    False
  Accesorios     ['Techo panorámico', 'Piloto automático', 'Air...
  Valor                                                  118909.52
  Name: Aston Martin DBS, dtype: object),
 ('Pajero TR4',
  Motor                                            Motor 2.4 Turbo
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Control de tracción', 'Asientos de cuero', '...
  Valor                                                   51606.59
  Name: Pajero TR4, dtype: object),
 ('Polo Sedan',
  Motor                                                   Motor V6
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Sensor de lluvia', 'Sensor crepuscular', 'Ai...
  Valor                                                  123281.87
  Name: Polo Sedan, dtype: object),
 ('California',
  Motor                                               Motor 1.0 8v
  Año                                                         2009
  Kilometraje                                               5526.0
  Cero_km                                                    False
  Accesorios     ['Llantas de aleación', 'Aire condicionado', '...
  Valor                                                   69770.18
  Name: California, dtype: object),
 ('S60',
  Motor                                            Motor 2.4 Turbo
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Techo panorámico', 'Frenos ABS', '4 X 4', 'A...
  Valor                                                  102609.54
  Name: S60, dtype: object),
 ('Tucson',
  Motor                                              Motor 2.0 16v
  Año                                                         2013
  Kilometraje                                              93415.0
  Cero_km                                                    False
  Accesorios     ['Ventanas eléctricas', 'Sensor crepuscular', ...
  Valor                                                   67997.19
  Name: Tucson, dtype: object),
 ('HB20',
  Motor                                                   Motor V6
  Año                                                         2003
  Kilometraje                                              40762.0
  Cero_km                                                    False
  Accesorios     ['Sensor de lluvia', 'Cerraduras electricas', ...
  Valor                                                  135235.29
  Name: HB20, dtype: object),
 ('Optima',
  Motor                                              Motor 1.8 16v
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Central multimedia', 'Aire condicionado', 'T...
  Valor                                                   86641.34
  Name: Optima, dtype: object),
 ('Logan',
  Motor                                            Motor 4.0 Turbo
  Año                                                         2002
  Kilometraje                                              86302.0
  Cero_km                                                    False
  Accesorios     ['Cámara de estacionamiento', 'Ventanas eléctr...
  Valor                                                  136818.39
  Name: Logan, dtype: object),
 ('Range Rover Vogue',
  Motor                                               Motor 1.0 8v

In [8]:
for index, row in dataset.iterrows():
  if(2020 - row.Año != 0):
    dataset.loc[index, 'km_media'] = row.Kilometraje / (2020 - row.Año)
  else: 
    dataset.loc[index, 'km_media'] = 0

dataset

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_media
Nombre,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64,2612.352941
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94,196.965517
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16,1237.433333
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,NaN
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10,1839.785714
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58,4584.166667
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06,1033.827586
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03,2924.277778
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90,320.208333
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47,1792.428571

**<h2>Otras formas de iterar en un dataFrame</h2>**

**<h3>Itertuples</h3>**
 Este método itera a través de las líneas del DataFrame, usando una tupla nombrada con el contenido de cada línea del DataFrame.<br>

**Ejemplo:**

In [11]:
df = pd.DataFrame({'num_legs': [4, 2], 'num_wings': [0, 2]},
                  index=['dog', 'hawk'])
df
for row in df.itertuples():
    print(row)

for row in df.itertuples(index=False):
    print(row)

for row in df.itertuples(name='Animal'):
    print(row)

Pandas(Index='dog', num_legs=4, num_wings=0)
Pandas(Index='hawk', num_legs=2, num_wings=2)
Pandas(num_legs=4, num_wings=0)
Pandas(num_legs=2, num_wings=2)
Animal(Index='dog', num_legs=4, num_wings=0)
Animal(Index='hawk', num_legs=2, num_wings=2)

**<h3>Iterrows</h3>**
Iterar sobre filas DataFrame como pares (índice, Serie).<br>
**Ejemplo:**

In [12]:
df = pd.DataFrame([[1, 1.5]], columns=['int', 'float'])
row = next(df.iterrows())[1]
row



print(row['int'].dtype)

print(df['int'].dtype)

float64
int64

**<h3>Items</h3>**
Itera a través de las columnas del DataFrame, usando una tupla, donde el primer elemento es el nombre de la columna y el segundo es una Series, con todo el contenido de la columna.<br>
**Ejemplo**

In [14]:
df = pd.DataFrame({'species': ['bear', 'bear', 'marsupial'],
                  'population': [1864, 22000, 80000]},
                  index=['panda', 'polar', 'koala'])
df

for label, content in df.items():
    print(f'label: {label}')
    print(f'content: {content}', sep='\n')

label: species
content: panda         bear
polar         bear
koala    marsupial
Name: species, dtype: object
label: population
content: panda     1864
polar    22000
koala    80000
Name: population, dtype: int64

Mas información: https://pandas.pydata.org/pandas-docs/stable/index.html

# 5.5 Tratamiento de datos

In [15]:
dataset.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_media
Nombre,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64,2612.352941
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94,196.965517
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16,1237.433333
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,NaN
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10,1839.785714

In [16]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Motor        258 non-null    object
 1   Año          258 non-null    int64
 2   Kilometraje  197 non-null    float64
 3   Cero_km      258 non-null    bool
 4   Accesorios   258 non-null    object
 5   Valor        258 non-null    float64
 6   km_media     197 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 22.5+ KB

In [17]:
dataset.Kilometraje.isna()

Nombre
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                       True
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Name: Kilometraje, Length: 258, dtype: bool

In [18]:
dataset[dataset.Kilometraje.isna()]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_media
Nombre,,,,,,,
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,NaN
A5,Motor 4.0 Turbo,2019,NaN,True,"['Transmisión automática', 'Cámara de estacion...",56445.20,NaN
J5,Motor V6,2019,NaN,True,"['Sensor crepuscular', 'Panel digital', 'Llant...",53183.38,NaN
A3,Motor 1.0 8v,2019,NaN,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,NaN
Série 1 M,Motor V8,2019,NaN,True,"['Control de estabilidad', 'Central multimedia...",94564.40,NaN
...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,NaN,True,"['Control de tracción', 'Aire condicionado', '...",67664.86,NaN
Benni Mini,Motor V8,2019,NaN,True,"['Sensor crepuscular', 'Transmisión automática...",126247.84,NaN
Uno,Motor Diesel V6,2019,NaN,True,"['Central multimedia', 'Sensor crepuscular', '...",128852.21,NaN
Santa Fe,Motor 3.0 32v,2019,NaN,True,"['Cerraduras electricas', 'Aire condicionado',...",129415.33,NaN
XC60,Motor 4.0 Turbo,2019,NaN,True,"['Panel digital', 'Piloto automático', 'Centra...",77675.79,NaN

In [ ]:
taset.fill

In [19]:
dataset.fillna(0)

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_media
Nombre,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64,2612.352941
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94,196.965517
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16,1237.433333
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10,1839.785714
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58,4584.166667
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06,1033.827586
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03,2924.277778
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90,320.208333
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47,1792.428571

In [20]:
dataset.fillna(0, inplace=True)

In [21]:
dataset

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_media
Nombre,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64,2612.352941
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94,196.965517
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16,1237.433333
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10,1839.785714
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58,4584.166667
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06,1033.827586
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03,2924.277778
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90,320.208333
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47,1792.428571

In [22]:
dataset.query('Cero_km == True')

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_media
Nombre,,,,,,,
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,0.0
A5,Motor 4.0 Turbo,2019,0.0,True,"['Transmisión automática', 'Cámara de estacion...",56445.20,0.0
J5,Motor V6,2019,0.0,True,"['Sensor crepuscular', 'Panel digital', 'Llant...",53183.38,0.0
A3,Motor 1.0 8v,2019,0.0,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,0.0
Série 1 M,Motor V8,2019,0.0,True,"['Control de estabilidad', 'Central multimedia...",94564.40,0.0
...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,0.0,True,"['Control de tracción', 'Aire condicionado', '...",67664.86,0.0
Benni Mini,Motor V8,2019,0.0,True,"['Sensor crepuscular', 'Transmisión automática...",126247.84,0.0
Uno,Motor Diesel V6,2019,0.0,True,"['Central multimedia', 'Sensor crepuscular', '...",128852.21,0.0
Santa Fe,Motor 3.0 32v,2019,0.0,True,"['Cerraduras electricas', 'Aire condicionado',...",129415.33,0.0
XC60,Motor 4.0 Turbo,2019,0.0,True,"['Panel digital', 'Piloto automático', 'Centra...",77675.79,0.0

In [23]:
dataset = pd.read_csv('db.csv', sep=';')

In [24]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

In [25]:
dataset.dropna(subset = ['Kilometraje'], inplace=True)

In [26]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
5,Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamiento', 'Techo panorámic...",97497.73
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47